[submodule "comet-101"]
	path = comet-101
	url = https://github.com/sdsc-hpc-training-org/comet-101
[submodule "expanse-101"]
	path = expanse-101
	url = https://github.com/sdsc-hpc-training-org/expanse-101
[submodule "sdsc-summer-institute-2020"]
	path = sdsc-summer-institute-2020
	url = https://github.com/sdsc-hpc-training-dev/sdsc-summer-institute-2020.git
